@{
    ViewBag.Title = "Login2FA";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/Content/Styles/Login.css" rel="stylesheet" />
<div class="base">
    <div class="header">
        <h1 class="sign">Two Factor Authentication</h1>
    </div>
    <hr />
    <form method="post" action="/Login2FA">
        <ul>
            @Html.AntiForgeryToken()
            <li class="item">
                <label class="lable" for="Code2FA">If your login credentials are valid, a code sent to your email inbox</label><br>
                <input class="text" autocomplete="one-time-code" type="text" id="Code2FA" name="Code2FA" />
            </li>
            <li class="item cButton">
                <button class="button" type="submit" value="Proceed">Login</button>
            </li>
            <li class="item">
                <a href="/Register"><h4>If don't have an account, Register Now</h4></a>
            </li>
        </ul>
    </form>
    <p id="ResultLogin" />
</div>
