@using EventsManagerModels;
@model User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Content/Scripts/Register.js"></script>
<link href="~/Content/Styles/Login.css" rel="stylesheet" />
<div class="wraper base">
    <div class="header">
        <h1 class="sign">Register</h1>
    </div>
    <hr />
    <form method="post" action="/Register" onsubmit="return validateRegister()">
        <ul>
            <li class="item cName">
                <div class="halfName firstName">
                    <label class="lable">First Name</label><br>
                    <input class="text name" required autocomplete="given-name" type="text" id="FirstName" name="FirstName" />
                </div>
                <div class="halfName">
                    <label class="lable">Last Name</label><br>
                    <input class="text name" required autocomplete="family-name" type="text" id="LastName" name="LastName" />
                </div>
            </li>
            <li class="item">
                <label class="lable">Username</label><br>
                <input class="text" required autocomplete="username" type="text" id="UserName" name="UserName" />
                <h5 id="UserName-Check">**Username is missing</h5>
            </li>
            <li class="item">
                <label class="lable">Email</label><br>
                <input class="text" required autocomplete="email" type="text" id="Email" name="Email" />
                <h5 id="Email-Check">**Your email must be a valid email</h5>
            </li>
            <li class="item">
                <label class="lable">Phone Number</label><br>
                <input class="text" required autocomplete="tel-national" type="text" id="PhoneNum" name="PhoneNum" />
                <h5 id="PhoneNum-Check">**Phone Number is invalid</h5>
            </li>
            <li class="item">
                <label class="lable">Password</label><br>
                <input class="text" required autocomplete="new-password" type="password" id="Password" name="TempPassword" />
                <h5 id="Password-Check">**Please Fill the password</h5>
            </li>
            <li class="item">
                <label class="lable">Confirm password</label><br>
                <input class="text" required type="password" id="PasswordConfirm" />
                <h5 id="PasswordConfirm-Check">**Passwords didn't match</h5>
            </li>
            <li class="item cButton">
                <button id="cButton" class="button" type="submit" value="Register">Register</button>
            </li>
            <li class="item">
                <a href="/Login"><h4>If you already have an account, sign in instead</h4></a>
            </li>
        </ul>
    </form>
    <p id="ResultLogin" />
</div>
