@using EventsManagerModels;

@model MenuListVIewModel
@{
    ViewBag.Title = "ViewMenues";
    Layout = "~/Views/Master/MasterPage.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
@if (Model != null)
{
    <script>
        window.onload = GetMenus();
        function GetMenus() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("MenusWrapper").innerHTML = this.responseText;
            }
            xhttp.open("GET", "@CommonParameters.Location.WebService/Visitor/GetMenus", true);
            xhttp.send();
        }
    </script>
    <div id="MenusWrapper"></div>
}
else
{
    <section class="errorSection">
        <h1 class="errorTitle">There was connection issue. Try later</h1>
        <img class="errorMessage" src="~/Content/images/ConnectionError.png" />
    </section>
}