@{
    ViewBag.Title = "ViewHome";
    Layout = "~/Views/Master/MasterPage.cshtml";
}
<link rel="stylesheet" href="~/Content/Home.css" />
<script src="~/Content/Home.js"></script>
<script>
    window.addEventListener("scroll", NavBarStatus);
</script>
<div class="part1">
    <div class="part1-text">
        <h1>Choose a better way to represent your app</h1>
        <h3>Yeah, it's really the best way to represent your app</h3>
        <div class="center">
            <button><h4>Download</h4></button>
            <button><h4>Contact Us</h4></button>
        </div>
    </div>
</div>

<div class="part2">
    <div class="part2-img">
        <img class="" src="https://placehold.co/600x400">
    </div>
    <div class="part2-text">
        <h2>Everything You Need</h2>
        <div class="part2-checked">
            <img src="~/Content/img/correct_icon.png">
            <h4>Android</h4>
        </div>
        <div class="part2-checked">
            <img src="~/Content/img/correct_icon.png">
            <h4>iPhone</h4>
        </div>
        <h3>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam.</h3>
    </div>
    <div class="explain exp1">
        <img src="~/Content/img/cart_image.png">
        <h3>First 7 Days Free</h3>
        <h4>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diamdo.</h4>
    </div>
    <div class="explain exp2">
        <img src="~/Content/img/message_image.png">
        <h3>Fully Support</h3>
        <h4>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diamdo.</h4>
    </div>
    <div class="explain exp3">
        <img src="~/Content/img/wallbrush_image.png">
        <h3>Moden Flat Design</h3>
        <h4>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diamdo.</h4>
    </div>
    <div class="explain exp4">
        <img src="~/Content/img/phone_image.png">
        <h3>User Friendly</h3>
        <h4>Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diamdo.</h4>
    </div>
</div>