@using EventsManagerModels;

@model MenuListVIewModel
@{
    ViewBag.Title = "ViewMenues";
    Layout = "~/Views/Master/MasterPage.cshtml";
}

@if (Model != null)
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        window.onload = function () {
            GetMenus()
            setInterval(GetMenus, 10000);
        };
        function GetMenus() {
            $("#MenusWrapper").empty();
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let response = JSON.parse(this.responseText);
                response.Menus.forEach((menu) => {
                    $("#MenusWrapper").append('<div id="MenuItem">' +
                        '<a href="@CommonParameters.Location.WebServer/Visitor/ViewMenu/?id=' + menu.MenuId + '">' + menu.MenuName + '</a>' +
                        '</div>')
                });
            }
            xhttp.open("GET", "@CommonParameters.Location.WebService/Visitor/GetMenus", true);
            xhttp.send();
        }
    </script>
    <div id="MenusWrapper"></div>
}
else
{
    <section class="errorSection">
        <h1 class="errorTitle">There was connection issue. Try later</h1>
        <img class="errorMessage" src="~/Content/images/ConnectionError.png" />
    </section>
}