@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link rel="stylesheet" href="~/css/AccountNav.css" />
<div class="container">
    <div class="content">
        <aside>
            <nav>
                <ul>
                    <li class="profile-sidebar">
                        <img src="~/img/User/@(Context.Session.GetString("UserName")+ "" +".png")" alt="Profile Picture">
                        <h2>@Context.Session.GetString("UserName")</h2>
                        <h6>@Context.Session.GetString("Email")</h6>
                    </li>
                    <li><a href="/Admin/Users">Users</a></li>
                    <li><a href="/Admin/Halls">Halls</a></li>
                    <li><a href="/Admin/Orders">Orders</a></li>
                    <li><a href="/Admin/Menus">Menus</a></li>
                    <li><a href="/Admin/Foods">Foods</a></li>
                </ul>
            </nav>
        </aside>
        <main class="data">
            @RenderBody()
        </main>
    </div>
</div>