/* Font author: http://fonts.googleapis.com */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

/* blur */
@supports (backdrop-filter: blur(10px)) {
	.device-info {
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}
  @supports not (backdrop-filter: blur(10px)) {
	.device-info {
		background-color: grey;
	}
}

/* NavBar */
header {
	z-index: 100;
	position: sticky;
	top: 0;
	overflow: hidden;
}
.nav {
	background-color: black;
	font-size: 1rem;
	font-weight: 900;
	list-style-type: none;
	overflow: hidden;
}

.nav a{
	display: flex;
	text-align: center;
	list-style: none;
	color: white;
	float: left;
	border-radius: 10px;
}

.navText {
	padding: 16px 12px 18px 12px;
	margin: 16px 0px 10px 0px;
}

.nav img.logo:focus, .nav img.logo:hover {
	transition: 0.8s;
	border-radius: 20px;
}

.nav .navText:focus, .nav .navText:hover{
	background-color: rgba(210, 215, 211, 0.3);
	border-radius: 20px;
	transition: 0.8s;
}

.nav img.logo {
	border-radius: 50%;
}

.nav img {
	width: 50px;
	height: 50px;
}

.cOpenNav, .cLogo{
	margin: 20px 12px 20px 12px;
}

.nav .cOpenNav{
	float: right;
}

.nav .mOpenNav {
	display: none;
	font-size: larger;
	line-height: normal;
	background: white;
	border-radius: 20%;
}

@media screen and (max-width: 700px) {
	.nav .mOpenNav {
		display: block;
		z-index: 10;
		right: 12px;
		overflow: hidden
	}
	.navMobileMenu {
		width: 0;
		display: block;
		height: 100%;
		position: fixed;
		z-index: 1;
		overflow: hidden;
		background-color: #111;
		transition: 0.5s;
		right: 0;
	}

	.navMobileMenu .navText {
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
		overflow: hidden;
		text-align: center;
		font-size: 2rem;
		transition: 0.3s;
	}
}

/* page wrapper */
div.DataBody {
	min-height: 100%;
}

/* footer table */
footer{
	color: white;
	padding-bottom: 15px;
	padding-top: 5px;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	background-color: black;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column: full;
	grid-template-columns: [full-start] minmax(1em, 1fr) [main-end] minmax(1em, 1fr) [full-end];
}

.footer-table {
	width: 100%;
	margin-right: 0%;
	padding-right: 0%;
	grid-row: 2;
}
  
.footer-table tr, .footer-table td {
	text-align: left;
	padding: 5px;
}

.footer-table-about {
    width: 100%;
    float: left;
}

.footer-table-copy {
	grid-row: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 10px 0px 10px 0px;
	text-align: center;
}

img.footer-table-logo{
	display: block;
	width: 200px;
    height: 200px;
	border-radius: 50%;
	float: left;
	padding: 10px;
}

tr.border_bottom td {
	border-bottom: transparent;
}

.footer-table-section{
    text-align: left !important;
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 10px 0px 10px 1%;
}

@media screen and (max-width: 700px) {
	.footer-table-section {
		grid-row: 1;
		grid-column-start: 1;
		grid-column-end: 3;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		float: right;
	}

	.footer-table {
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.footer-table-about {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	img.footer-table-logo {
		width: 120px;
		height: 120px;
	}

	.footer-table-links {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.footer-table-copy {
		grid-row: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
	}
}

/*@media screen and (max-width: 350px) {
	.footer-table-about {
		grid-row: 4;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	img.footer-table-logo {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}*/