@using EventsManagerModels;

@model Food
@{
    ViewBag.Title = "ViewFood";
    Layout = "~/Views/Master/MasterPage.cshtml";
}
<div class="foodwraper">
    <div class="foodImage">
        <img class="foodImg" src="@Model.FoodImage" />
    </div>
    <div class="foodData">
        <h1 class="foodName">@Model.FoodName</h1>
        <p class="foodDescription">@Model.FoodDesc</p>
    </div>
</div>

