@using EventsManagerModels;
@using PagedList;
@using PagedList.Mvc;

@model FoodListViewModel
@{
    ViewBag.Title = "ViewFoods";
    Layout = "~/Views/Master/MasterPage.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
@if (Model != null)
{
    IPagedList<Food> Foods = Model.Foods.ToPagedList<Food>(Model.PageNumber, Model.ItemsPerpage);

    int pages = Model.Foods.Count / Model.ItemsPerpage;
    if (Model.Foods.Count % Model.ItemsPerpage > 0)
    {
        pages++;
    }
    <div class="pageof">
        <h1 class="pageofTitle">This is page @Model.PageNumber of @pages pages </h1>
    </div>

    <div class="foodWraper">
        @foreach (Food food in Model.Foods)
        {
            if (Model.Foods.IndexOf(food) < (Model.ItemsPerpage * Model.PageNumber) && Model.Foods.IndexOf(food) > (Model.ItemsPerpage * (Model.PageNumber-1))-1)
            {
                <section class="food">
                    <h2 class="foodTitle">
                        <a class="foodlink" href="~/Food/ViewFood/?FoodId=@food.FoodId">
                            @food.FoodName
                        </a>
                    </h2>
                </section>
            }
        }
    </div>
}
else
{
    <section class="errorSection">
        <h1 class="errorTitle">There was connection issue. Try later</h1>
        <img class="errorMessage" src="~/Content/images/ConnectionError.png" />
    </section>
}