@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link rel="stylesheet" href="~/Content/Styles/AccountNav.css" />
<div class="container">
    <div class="content">
        <aside>
            <nav>
                <ul>
                    <li class="profile-sidebar">
                        <img src="~/Content/Profile-img/@(Session["UserName"]+ "" +".png")" alt="Profile Picture">
                        <h2>@Session["UserName"]</h2>
                        <h6>@Session["Email"]</h6>
                    </li>
                    <li><a href="/Account/Settings">Account</a></li>
                    <li><a href="/Account/MyOrders">Orders</a></li>
                </ul>
            </nav>
        </aside>
        <main class="data">
            @RenderBody()
        </main>
    </div>
</div>