@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="container">
    <div class="content">
        <aside>
            <nav>
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#" class="active">Orders</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            @RenderBody()
        </main>
    </div>
</div>