@if (!string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
{
    @Html.AntiForgeryToken()
    if (User.IsInRole("User"))
    {
        <button class="dropbtn navText">Welcome: @Session["UserName"]</button>
        <div class="dropdown-content">
            <a class="navText" href="/Account/MyOrders">My Orders</a>
            <a class="navText" href="#">My Account</a>
            @using (Html.BeginForm("LogOut", "Visitor", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                <button class="navText">Log off</button>
            }
        </div>
    }
    if (User.IsInRole("Admin"))
    {
        <button class="dropbtn navText">Welcome: @Session["UserName"]</button>
        <div class="dropdown-content">
            <a class="navText" href="/Admin">Admin Dashboard</a>
            @using (Html.BeginForm("LogOut", "Visitor", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                <button class="navText">Log off</button>
            }
        </div>
    }
}
else
{
    <a class="navText" id="navText" href="/Login"> Login </a>
}