@if (!string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
{
    using (Html.BeginForm("LogOut", "Visitor", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()
        <a class="navText" href="#">Welcome: @Session["UserName"]</a>
        <a class="navText" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <a class="navText" id="navText" href="/Login"> Login </a>
}