@using EventsManagerModels;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content//Styles/Style.css"/>
    <link rel="icon" type="image/x-icon" href="~/Content/img/profile.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Website </title>
</head>

<body>
    <header>
        <nav class="nav" id="nav">
            <a class="cLogo" href="~/"><img class="mLogo logo" src="~/Content/img/profile.png"></a>
            <a class="cOpenNav" onclick="openNav()"><img class="mOpenNav logo" id="mOpenNav" src="~/Content/img/open-menu.png"></a>
            <div id="navMobileMenu" class="navMobileMenu">
                <a href="~/"><img class="bLogo" src="~/Content/img/profile.png"></a>
                <a class="navText" id="navText" href="~/"> Home </a>
                <a class="navText" id="navText" href="/Menus"> Test Menus </a>
                <div class="cLogin">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <script>
        window.addEventListener('resize', resetChanges);
        function resetChanges() {
            let element = document.getElementById("navMobileMenu");
            element.style.width = window.innerWidth > 700 ? "100%" : "0";
        }

        function openNav() {
            let element = document.getElementById("navMobileMenu")
            element.style.width = element.style.width == "100%" ? "0" : "100%";
            document.body.style.position = document.body.style.position == "fixed" ? "inherit" : "fixed"
        }
        resetChanges();
    </script>

    <div class="DataBody">
        @RenderBody()
    </div>

    <footer>
        <h2 class="footer-table-section"> About </h2>
        <table class="footer-table">
            <tr class="footer-table-contant">
                <td><img class="footer-table-logo" src="~/Content/img/profile.png"></td>
                <td class="footer-table-about">
                    Hello, my name is Orel Yosupov. I am 17 years old.
                    Currently I'm learning at 12th grade in Ort Lilienthal school in Ramla
                    This Project is my final project in software engineering bagrut
                </td>
            </tr>
        </table>
        <table class="footer-table-copy">
            <tr>
                <td>&copy; Designed by Orel Yosupov (Orel6505)</td>
            </tr>
        </table>
    </footer>
</body>
</html>