body {
    background-color: cyan;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.DataBody {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

ul {
    list-style-type: none;
}

.base {
    background-color: white;
    padding: 30px 30px 30px 30px;
    height: 100%;
    width: 30vw;
    border-radius: 25px;
}

.sign{
    font-size:26px;
}

.info {
    font-size: 14px;
    margin-top: 10px;
    color: #999999;
}

hr {
    width: 100%;
    margin-top: 20px;
    color: #e4e4e4;
}

li{
    margin-top:27px;
}

.lable {
    color: #888888;
    font-size: 16px;
}

.text {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border-color: #e2e2e2;
}

.button {
    color: black;
    background-color: #43ccec;
    padding: 15px 30px;
    border-color: #009bc9;
    border-radius: 25px;
    font-size: 1rem;
}

.cButton {
    display: flex;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.name{
    width: 100%;
}
.cName {
    width: 50%;
    display: contents;
}

.halfName {
    display: inline-block;
    width: 49%;
    margin-top: 27px;
}
.firstName {
    padding-right: 5px;
}
@media screen and (max-width: 900px) {
    .base {
        width: 90vw;
    }
}
