.SortMenu {
    float: right;
    padding: 10px;
}

.ShowMenu {
    display: inline-block;
}

.SortMenuOptions {
    display: block;
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    width: 100%;
}

.MenuSearch {
    width: 100%;
}

.OptionItems {
    max-height: 600px;
    transition: 0.4s ease-in-out;
    display: block;
    overflow: hidden;
}

.OptionItem {
    display: block;
    direction: rtl;
    min-width: 160px;
    background-color: cyan;
}

.SortMenuOptions:hover {
    background-color: #ddd;
}

.OptionItem h4 {
    width: fit-content;
    display: inline;
}