.SortMenuOptions {
    display: block;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    width: 100%;
}

.MenuSearch {
    width: 100%;
}

.OptionItems {
    max-height: 600px;
    transition: 0.4s ease-in-out;
    display: block;
    overflow: hidden;
}

.OptionItem {
    display: block;
    direction: rtl;
    min-width: 160px;
    background-color: white;
}

.SortMenuOptions:hover {
    background-color: #ddd;
}

.OptionItem h4 {
    width: max-content;
    display: inline;
}

.container {
    padding: 20px;
}

.content {
    display: flex;
}

.sidebar {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
    text-align:center;
    padding:10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    justify-content: center;
}

.product {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px);
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product h3 {
    margin: 0 0 10px 0;
}

@media (max-width: 1500px) {
    .product {
        width: calc(33.333% - 40px);
    }
}

@media (max-width: 900px) {
    .product {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .product {
        width: 100%;
    }
}

.learnmore {
    margin-top: 10px;
}