.order-menu {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.DataBody {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #9B59B6;
}
.order-menu .date-info {
    display: flex;
    align-items: center;
    padding: 20px 30px 10px;
    justify-content: space-between;
}

.date-info .icons {
    display: flex;
}

.date-info .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 2rem;
    user-select: none;
    border-radius: 50%;
    border: none;
    transition: 0.6s;
}

.date-info .icons span:hover {
    background: #f2f2f2;
}

.date-info .current-date {
    font-size: 1.5rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar li {
    width: calc(100% / 7);
    font-size: 1rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.check-availability {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.6s;
    font-size: 1rem;
}

.days li.active::before {
    background: #9B59B6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

.check-availability:hover {
    background: #f2f2f2;
}
