@using EventsManagerModels;

@model OrderListVIewModel
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@if (Model != null)
{
    <link rel="stylesheet" href="~/Content/Styles/MyOrders.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Content/Scripts/Orders.js"></script>
    <div class="SortMenu" id="SortMenu">
        <h1>היסטורית הזמנות</h1><hr>
        @if (Model.Halls.Count > 0)
        {
            <button class="SortMenuOptions" onclick="ShowOptions('OptionsItems')">סינון</button>
            <div class="OptionItems" id="OptionsItems">
                <select id="Halls">
                    <option value="None">לא נבחר</option>
                @foreach (Hall hall in Model.Halls)
                {
                    <option value="@hall.HallId">@hall.HallName</option>
                }
                </select>
            </div>
        }
        <table id="OrdersTable" class="OrdersTable">
            <thead class="OrdersTableHead">
                <tr>
                    <th>מזהה הזמנה</th>
                    <th>תאריך ההזמנה</th>
                    <th>תאריך האירוע</th>
                    <th>התפריט שהוזמן</th>
                    <th>כמות המוזמנים</th>
                    <th>שולם</th>
                </tr>
            </thead>
            <tbody id="Orders" class="OrdersTableBody"></tbody>
        </table>
    </div>
    <script>
        const CheckBox = document.getElementById("Halls");
        const Listener = document.getElementById("Halls");
        CheckBox.addEventListener('change', LoadOrders);
        Listener.addEventListener('input', LoadOrders);
        window.onload = function () {
            GetOrders();
            setInterval(GetOrders, 100000); // 100 seconds interval
        };
    </script>
}
else
{
    <section class="errorSection">
        <h1 class="errorTitle">There was a connection issue. Please try later later</h1>
    </section>
}