<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="Style.css">
  <link rel="icon" type="image/x-icon" href="img/profile.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> My Website </title>
  <script>
    function main(){
      $( window ).resize(function(){
        document.getElementById("nav-mobile").style.width = "100%";
      }
  </script>
</head>

<body>
  <header class="main-header">
    <nav>
      <span style="cursor:pointer" onclick="openNav()"><img class="opennav" src="img/mobile-menu-white.png"></span>
      <div id="nav-mobile" class="nav-menu">
        <ul class="nav">
          <div class="nav-mobile-header" style="float:left;">
            <a class="nav-img" href="Index1.html">
              <img src="img/profile.png">
            </a>
            <a href="javascript:void(0)" class="closenav" onclick="closeNav()">&times;</a>
            <a href="Index1.html"
              <li class="nav_text"> Home </li>
            </a>
            <a href="Index2.html"
             <li class="nav_text"> Features </li>
            </a>
            <a href="Index3.html"
              <li class="nav_text"> Pricing </li>
            </a>
            <a href="Index4.html"
              <li class="nav_text"> FAQ </li>
            </a>
            <a href="Index5.html"
              <li class="nav_text"> Contact </li>
            </a>
            <a href="Index5.html"
              <li class="nav_text nav-try-for-free-button"> Try For Free </li>
            </a>
          </div>
          <div class="nav-content" id="nav-mobile1" style="float:left;">
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <script>
    function openNav() {
      document.getElementById("nav-mobile").style.width = "100%";
      document.getElementById("nav-mobile1").style.display = block;
    }
    
    function closeNav() {
      document.getElementById("nav-mobile").style.width = "0%";
      document.getElementById("nav-mobile1").style.display = none;
    }
  </script>
  
  <div class="page-wrapper"></div>

<!-- <a href="https://github.com/orel6505">
      <img alt="Github" src="img/Github.svg"></a>
  <a href="https://t.me/orel6505">
    <img alt="telegram" src="img/telegram.svg"></a> -->
  <footer>
    <h2 class="footer-table-section"> About </h2>
    <table class="footer-table">
      <tr class="footer-table-contant">
        <td><img class="footer-table-logo" src="img/profile.png"></td>
        <td class="footer-table-about">Hello, my name is Orel Yosupov. I am a 16 years old student and developer.
        I am also known for developing and building Android custom roms for Redmi 8A (olivelite) and Galaxy S10 (beyond1lte).</td>
      </tr>
    </table>
    <table class="footer-table footer-table-links">
      <tr class="footer-table-contant">
        <td colspan="2" style="text-align: center;">Links</td>
        <td><img class="footer-table-links" src="#"></td>
        <td><img class="footer-table-links" src="#"></td>
        <td><img class="footer-table-links" src="#"></td>
        <td><img class="footer-table-links" src="#"></td>
        <td><img class="footer-table-links" src="#"></td>
      </tr>
    </table>
    <table class="footer-table-copy">
      <tr>
        <td colspan="2" style="text-align: center;">&copy; Designed by Orel Yosupov (Orel6505)</td>
      </tr>
    </table>
  </footer>
</body>
</html>